*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.calculatorBody{
    border: 3px solid black;
    border-radius: 8px;
    height: 280px;
    width: 280px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 1px;
}

#screen{
    height: 100%;
    width: 100%;
    border: 3px solid grey;
    border-radius:10px ;
    background-color: antiquewhite;
    font-size: 24px;
    text-align: right;
    padding: 5px;
}

.calculatorRow{
    height: 20%;
}

button{
    margin: auto;
    padding: 14px;
    width: 65px;
    border: 1.5px solid black;
    border-radius: 10px;
    background-color: orange;
    font-size: 19px;
    cursor: pointer;
    font-weight: 550;
}

.numberButton{
    background-color: white;
    font-size: 18px;
}

button:active{
    background-color: inherit 0.5 ;
    font-size: 17px;

}